{% extends 'core/base.html' %}
{% block body %}

<h1>hello world</h1>
<p>hello again</p>
<p><a href="{% url 'core:createtrade' %}">create trade</a></p>
<p><a href="{% url 'core:createcounterparty' %}">create counterparty</a></p>
<p><a href="{% url 'core:createproduct' %}">create product</a></p>
<p><a href="{% url 'core:listtrades' %}">list trade</a></p>
<p><a href="{% url 'core:listproducts' %}">list product</a></p>
<p><a href="{% url 'core:listcounterparty' %}">list counterparty</a></p>

{% endblock %}
